extends layout

block content
    h1.
        Achievements
    ul
        each award, i in achievements
            li
               = 'Won $'+ award.win/100 + ' : ' + ['7','lucky 7','cheery','3 bar','2 bar','1 bar', 'blank'][6 - award.row1] + ' ' + ['7','lucky 7','cheery','3 bar','2 bar','1 bar', 'blank'][6 - award.row2] + ' ' + ['7','lucky 7','cheery','3 bar','2 bar','1 bar', 'blank'][6 - award.row3] +' with $'+ award.cash/100
