extends layout

block content
    h1.
        Achievements
    ul
        each award, i in achievements
            li
               = award.win + ' ' + ['seven','lucky','cheery','3bar','2bar','1bar'][6 - award.row1] + ' ' + ['seven','lucky','cheery','3bar','2bar','1bar'][6 - award.row2] + ' ' + ['seven','lucky','cheery','3bar','2bar','1bar'][6 - award.row3] + ' ' + award.cash
