doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1.
        Tops
    ul
        each top, i in tops
            li
               = top.id + ' used '+ top.cash + ' won '+ top.win+ ' with ' + ['7','lucky 7','cheery','3 bar','2 bar','1 bar'][6 - top.row1] + ' ' + ['7','lucky 7','cheery','3 bar','2 bar','1 bar'][6 - top.row2] + ' ' + ['7','lucky 7','cheery','3 bar','2 bar','1 bar'][6 - top.row3]

