doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1.
        Tops
    ul
        each top, i in tops
            li
               = top.id + ' won $'+ top.win/100+ ' : ' + ['7','lucky 7','cheery','3 bar','2 bar','1 bar', 'blank'][6 - top.row1] + ' ' + ['7','lucky 7','cheery','3 bar','2 bar','1 bar', 'blank'][6 - top.row2] + ' ' + ['7','lucky 7','cheery','3 bar','2 bar','1 bar', 'blank'][6 - top.row3] +' with $'+ top.cash/100

